/* colors */
.grey { color: #494949; }
.light-grey { color: #b6b6b6; }
.yellow { color: #ffff00; }
.emerald { color: #00ffad; }
.safron { color: #ffad00; }
.azure { color: #528cad; }
.purple { color: #ad528b; }

/* benchmark */
.good { color: #32cd32; }
.neutral { color: #0d7de7; }
.bad { color: #e7500d; }

/* text formatting */
.lower { text-transform: lowercase; }
.nocase { text-transform: none; }

/* cucumber */
.reveal .cucumber {
  font-family: "Courier New", Courier, monospace;
  font-size: 50%;
  text-align: left;
  color: #00ea00;
  border-width: 1px;
  border-style: solid;
  border-color: slategrey;
  padding: 20px 20px;
}

.reveal .cucumber strong {
  color: #00ff00;
}

.reveal .cucumber p {
  margin: 0 0;
}

.reveal .cucumber .title {
  color: #7fb0a4;
}

.reveal .cucumber .table {
  color: #009c96;
  padding-left: 20px;
}

.reveal .cucumber .scenario {
  padding-left: 20px;
}

/* YAML syntax highlighting */
.yaml .key { color: #ae75ff; }
.yaml .string .content { color: #ff8080; }

/* slide style overrides */
.reveal span.small {
  font-size: 40%;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal table td {
  vertical-align: middle;
  padding: 0;
}

.reveal table td.halign-left {
  text-align: left;
}

.reveal table td.halign-center {
  text-align: center;
}

.reveal table td.halign-right {
  text-align: right;
}

.reveal h2 {
  font-size: 1.4em;
};
